# Pandas Tutorial

## DataFrames

The main data structure used in Python to represent data is a DataFrame, which is a table with columns and rows. Let's first import pandas and other necessary libraries into this notebook.

In [ ]:
import pandas as pd
import numpy as np

### Creating a DataFrame

If we want to create a DataFrame in Pandas, we can create one from scratch with the following technique. We would call `pd.DataFrame` and the argument it would take in is a dictionary of values.

In [ ]:
letters = pd.DataFrame({ 'letter' : ['a', 'b', 'c', 'z'],
                      'count' : [  9,   3,   3,   1],
                      'points' : [  1,   2,   2,  10]
                      })
letters

For the most part, however, we will most likely want to be taking our data in from a `.csv` file. So, we can also use Pandas to read in a `.csv` file using the `pd.read_csv('file.csv')` method. The argument it takes in is a string with the name of the `.csv` file. In this example, we are reading in a dataset about the Titanic passengers.

In [ ]:
# reading titanic.csv (located in current working directory)
titanic = pd.read_csv('titanic.csv')
titanic.head() # display first few rows of dataframe

If we're interested in learning some quick facts about our data, we can use `df.describe` to get a summary of some statistics. `df` stands for DataFrame in this case.

In [ ]:
titanic.describe()

We can also read in data from a csv file from a URL, like we did with the birthquake activity in Week 0.

In [ ]:
# example: loading csv from URL
sat = pd.read_csv('https://raw.githubusercontent.com/data-8/materials-sp18/master/lec/sat2014.csv')
sat.head() # head shows the first 5 rows of the DataFrame

### Accessing Values in DataFrames

Whereas the DataFrame was a 2D representation of our data, we also have something in Pandas called a Series. A Series is a 1D representation of data. One way we can get a Series is by accessing a specific column within our DataFrame. In these following examples, we'll proceed with the Titanic DataFrame.

In [ ]:
name_column = titanic['Name']
name_column

Here, we accessed the `'Name'` column inside of our DataFrame, and it returned a Series of our column, indexing it at 0. If we want a NumPy array of our values inside the column, we can call `.values` on a Series object. Let's do that here.

In [ ]:
name_column.values

If we want to access specific rows and columns inside of our DataFrame, we can use the `.iloc` method. The syntax would look like this `df.iloc[<rows>, <columns>]`

In [ ]:
# Here, we'll get rows 0, 1, and 2 and we'll take columns 0, 1, 2, 4, 5
titanic.iloc[0:3, 0:5]

If we want ALL the columns, you can leave the column argument blank.

In [ ]:
titanic.iloc[0:3, :]

We can get specific values in the DataFrame by doing the following.

In [ ]:
#This grabs the value from row 0 and column 3. Remember that 
#Python indexes at 0
titanic.iloc[0, 3]

## Your Turn

Try reading in the file `baby.csv` for us to work on.

In [ ]:
babies = pd.read_csv(...)
babies.head()

Now, assign maternal_age to be the NumPy array of all the values in the `Maternal.Height` column

In [ ]:
maternal_age = ...

In the cell below, access rows 4-6 and columns 0-4

In [ ]:
babies.iloc[4:7, :]

# Manipulating Data

For the following examples, we'll work with the `letters` DataFrame we made earlier.

In [ ]:
letters

To add a new column to the DataFrame, use the bracket notation. This will modify the DataFrame `letters` and give it a new column.

In [ ]:
letters['new_column'] = ['this', 'is', 'a', 'column']
letters

If we want to select columns, but keep the DataFrame format, we would use double brackets like this

In [ ]:
letters[['letter']]

In [ ]:
letters[['letter', 'count']]

### Using Two Series

In [ ]:
letters

In [ ]:
letters['points'] * letters['count']

## Filtering

It's also helpful in Pandas to filter through a DataFrame with a certain condition. In the Titanic DataFrame, let's filter it so that we only get the rows with a Male passenger.

In [ ]:
titanic.head()

In [ ]:
titanic['Sex'] == 'male'

This would first give us a Series where it tells us True if that row had a male passenget and False if it didn't.

In [ ]:
titanic[titanic['Sex'] == 'male']

We can then pass that Series into the bracket form to filter only the Males in the DataFrame. We can also use `&` to put multiple conditions.

In [ ]:
titanic[(titanic['Sex'] == 'male') & (titanic['Pclass'] == 2)]

### Sorting by Columns

In [ ]:
titanic

To sort values in a DataFrame, use the `.sort_values(by = ['column name'], ascending=False)` for descending order.

In [ ]:
titanic.sort_values(by = ['Age'], ascending=False)

### Grouping and Aggregating

We use the `groupby()` method in Pandas to group values by a certain attribute.

In [ ]:
smaller_titanic = titanic[['PassengerId', 'Pclass', 'Sex']]
smaller_titanic.head()

In [ ]:
smaller_titanic.groupby(['Sex']).count()

## Your Turn

In [ ]:
babies.head()

Assign `shorter_babies` to the filtered DataFrame with only columns `Birth.Weight`, `Maternal.Age`, and `Maternal.Smoker`

In [ ]:
shorter_babies = ...
shorter_babies.head()

In the cell below, assign `over_thirty` to the DataFrame filtered where only the rows where `Maternal.Age` is > 30.

In [ ]:
over_thirty = shorter_babies[...]
over_thirty.head()

Now, sort the rows by age in descending order.

In [ ]:
over_thirty_sorted = over_thirty.sort_values(...)
over_thirty_sorted.head()

Finally, group `shorter_babies` by `Maternal.Smoker` (whether or not the mother was a smoker). And for each, find the mean Weight and Age of the mother.

In [ ]:
# similar to the example above that used .count(), we should use something similar to find the mean...
shorter_babies_grouped = shorter_babies.groupby(...)...
shorter_babies